.logo-banner {
    height: 720px !important;
    width: 100%;
    object-fit: contain;
}
.main-page {
    background-color: rgba(39,13,76,0.9);
    min-height: 100vh;
    padding-top: 90px;
}
.title-color2{
    color: white !important;
}
.title-color {
    color: #212529 !important;
}
.card-body {
    background-color: #FFC76F;
}
.button-color {
    color: rgb(255,255,255) !important;
    border-color: rgba(39,13,76,0.85) !important;
    background-color: rgba(39,13,76,0.85) !important;
}